/* MAIN.CSS */

#wx-banner, #wx-location, #wx-current, #wx-details {

}

body {
    font-family: 'Asap Condensed', sans-serif;
    height: 100%;
    background-color: black;
    color: RGBA(240, 240, 240, 1);
    padding-top: 30px;
}

#temp-f {
    display: inline;
}

#wx-banner {
    font-size: 80px;
    line-height: 1;
}
#wx-location {
    font-size: 35px;
    line-height: 1;
}
#current-conditions {
    text-align: center;
}
#wx-current-temp {
    font-size: 50px;
    line-height: 1.5;
}
#wx-icon {
    padding-top: 10px;
}
